// views/auth/login.pug
extends ../layouts/layout

block content
  h1 Увійти

  //– flash-помилка чи ручна передача error
  if error
    div.alert.alert-danger= error

  form(action="/auth/login" method="POST")
    label(for="email") Email
    input#email(
      type="email"
      name="email"
      required
      autofocus
    )
    label(for="password") Пароль
    input#password(
      type="password"
      name="password"
      required
    )
    button.btn.btn-primary(type="submit") Увійти

  p
    | Ще нема акаунту?
    a(href="/auth/register") Зареєструватися